.button {
  padding: 0;
  background: none;
  display: flex;
  border: none;
  transition: opacity 500ms;
  opacity: 0.25;
  border-radius: var(--radius);
  overflow: hidden;
}

.button.is-active {
  opacity: 1;
}
