.container {
  display: grid;
  gap: 1rem;
}

.content {
  background-color: var(--medium);
  padding: 1rem;
  border-radius: var(--radius);
  min-height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 1rem;
}
